.lblCartCount {
    font-size: 12px !important;
    background: #ff0000 !important;
    color: #fff !important;
    padding: 0 5px !important;
    vertical-align: top !important;
    position: fixed;
    border-radius: 30%;
}

.centerAlign{
    display: table;
}