.errSpan{
    color: red;
    font-size: 14px;
}

.imageThumb{
    height: 70px;
    width: 40px;
    position: relative;
    margin: auto;
}

.thumbMargin{
    margin-top: 10px;
    // border: 1px solid gray;
}

.thumbBar{
    margin-top: 20px;
}

.prod_page_image{
    height: 70%;
    width: 70%;
    // margin-left: auto;
    // margin-right: auto;
    display: table;
}

// .buttonDiv{
//     // padding-right: 400px;
// }

.priceDiv{
    margin-top: 40px;
}

.desText{
    font-size: 14px;
}

// .center{
//     // margin-top: auto;
//     // margin-bottom: auto;
//     // width: 100%;
//     // height: 100%;
// }

// .centerDiv{
//     display: table;
//     margin: 0 auto;
// }